html{
    scroll-behavior: smooth;
}

.bg-img{
    width: 100%;
    height: 660px;
    background-image: url("images/1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.overlay{
    width: 100%;
    height: 660px;
    background: rgba(0,0,0,0.5);
}


.headerset{
    padding-top: 250px;
    box-sizing: border-box;
}

.headerset h2{
    font-size: 42px;
}

.headerset h1{
    font-size: 82px;
    font-weight: bold;
    text-transform: uppercase;
}

.headerset button:hover{
    box-shadow: 2px 2px 10px grey;
}

/* Services */

.services{
    height: 700px;
    padding: 100px 0 60px;
}

.services h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.rowsetting{
    margin: 80px 0px;
}

.imgsetting:hover{
    box-shadow: 2px 2px 10px grey;
}

.imgsetting{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.fa-shopping-cart{
    margin-top: 24px;
}

.fa-desktop{
    margin-top: 27px;
}

.fa-lock{
    margin-top: 24px;
}

.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.rowsetting p{
    color: #6c757d;
    padding: 10px;
}

/*Portfolio*/

.portfolio{
    height: 1100px;
    width: 100%;
    padding: 100px 0 50px;
}

.portfolio h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.card{
    margin-top: 40px; 
}

.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px grey;
}

/* Our Team*/

.ourteam{
    height: 700px;
    width: 100%;
    padding: 100px 0px 60px;
}

.ourteam h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.teamsetting{
    margin-top: 70px;
}

.contact{
    width: 100%;
    height: 900px;
    padding: 100px 0 60px;
}

.contact h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

form{
    margin-top: 50px;
}


/*Footer*/

.footer{
    height: 50px; 
}

.footer h6{
    line-height: 50px;
}


/*//////////Media Queries//////////*/

@media (min-width: 992px){

}

@media (min-width: 768px) and (max-width: 991px){
    .headerset h2{
        font-size: 42px;
    }
    
    .headerset h1{
        font-size: 62px;
    }

    .services{
        height: 1000px;
    }

    .portfolio{
        height: 1000px;
    }

    .ourteam{
        height: 800px;
    }

}

@media (min-width: 575px) and (max-width: 767px){
    .headerset h2{
        font-size: 32px;
    }
    
    .headerset h1{
        font-size: 52px;
    }

    .services{
        height: 900px;
    }

    .rowsetting h2{
        font-size: 24px;
    }

    .portfolio{
        height: 3300px;
    }

    .ourteam{
        height: 1500px;
    }

}

@media (min-width: 480px) and (max-width: 574px){
    .headerset h2{
        font-size: 22px;
    }
    
    .headerset h1{
        font-size: 42px;
    }

    .services{
        height: 1200px;
    }

    .portfolio{
        height: 2900px;
    }

    .ourteam{
        height: 1400px;
    }
}

@media(max-width:479px){
    .headerset h2{
        font-size: 22px;
    }
    
    .headerset h1{
        font-size: 42px;
    }

    .services{
        height: 1300px;
    }

    .portfolio{
        height: 2500px;
    }

    .ourteam{
        height: 1800px;
    }

}
